*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Cardcontainer .CardTitle h2{
    text-align: center;
    margin-bottom: 10px;
}
.Cardcontainer .CardTitle p {
     justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(255, 252, 252);
    width: 448px;
    margin-bottom: 20px;
    margin-left: 500px;
}

.Cardcontainer .CardCreate {
    padding: 62px;
    border: 1px solid rgb(232, 231, 231);
    width: 448px;
    margin-bottom: 20px;

}
.Cardcontainer .CardCreate .icon{
   text-align: center;
   font-size: 100px;
   color: brown;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e7e00f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color:#e7e00f}
  
  .button:active {
    background-color:#e7e00f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } 













